/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/* CSS */

:root {
    --primary-color: #1e293b;
    --secondary-color: #fff7ed;
    --font-color: #1e293b;
    --bg-color: #fff7ed;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;

    --font-extralight: 100;
    --font-normal: 200;
    --font-medium: 450;
    --font-bold: 600;
    --font-extrabold: 800;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: var(--font-normal);
}

[data-theme="dark"] {
    --primary-color: #fff7ed;
    --secondary-color: #1e293b;
    --font-color: #fff7ed;
    --bg-color: #1e293b;
}

@media print {
    :root {
        --primary-color: #000000;
        --secondary-color: #ffffff;
        --font-color: #000000;
        --bg-color: #ffffff;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        --text-print-scale: 0.85;
        --text-xs: calc(var(--text-print-scale) * 0.75rem);
        --text-sm: calc(var(--text-print-scale) * 0.875rem);
        --text-base: calc(var(--text-print-scale) * 1rem);
        --text-lg: calc(var(--text-print-scale) * 1.125rem);
        /* --text-xl: calc(var(--text-print-scale) * 1.25rem); */
        /* --text-2xl: calc(var(--text-print-scale) * 1.5rem); */
        /* --text-3xl: calc(var(--text-print-scale) * 1.875rem); */
        /* --text-4xl: calc(var(--text-print-scale) * 2.25rem); */

    }

    .no-print {
        display: none;
    }

    main.resume {
        width: 100% !important;

        article {
            header.download.no-print {
                display: none !important;
            }
        }

        ul.positions li {
            break-inside: avoid;
        }
    }
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin-left: 1rem; */
    /* margin-top: .25rem; */
}

#dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.75rem;
    height: 2.75rem;
    background: linear-gradient(-135deg, var(--primary-color) 50%, rgba(255, 0, 0, 0) 50% 100%);
    /* color: white; */
    /* border-radius: 12px; */
    overflow: hidden;

    button {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: .25rem;
        right: .25rem;
        border: 0;
        color: transparent;
        background-color: var(--secondary-color);
        cursor: pointer;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    }

    button:hover {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z'%3E%3C/path%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z'%3E%3C/path%3E%3C/svg%3E");
    }
}

header {
    margin-top: 0.25rem;
    margin-left: 1rem;
}

#menu {
    display: flex;
    /* height: 1.5rem; */

    button {
        border: 0;
        color: transparent;
        background-color: var(--primary-color);
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.3rem;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 6h16M4 12h16M4 18h16'%3E%3C/path%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 6h16M4 12h16M4 18h16'%3E%3C/path%3E%3C/svg%3E");
    }

    button:hover {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    }

}

#home-bar {
    display: flex;

    /* height: 1.5rem; */
    a {
        button {
            border: 0;
            color: transparent;
            background-color: var(--primary-color);
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.3rem;
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'%3E%3C/path%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'%3E%3C/path%3E%3C/svg%3E");
        }

        button:hover {
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z'%3E%3C/path%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z'%3E%3C/path%3E%3C/svg%3E");
        }
    }

    span {
        font-size: var(--text-lg);
        font-weight: var(--font-bold);
        display: inline-flex;
        align-items: end;
    }

}

#menu[data-menu="open"] {
    #menu-title-page {
        display: none;
    }
}

#menu[data-menu="closed"] {
    #menu-list {
        display: none;
    }
}

#menu-list {
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: .25rem;
    font-size: var(--text-lg);
    gap: .4rem;

    li {

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            text-decoration: none;
            color: var(--font-color);
        }

        a:hover {
            font-weight: var(--font-bold);
        }
    }

    li.current-page {
        font-weight: var(--font-bold);
    }
}

#menu-title-page {
    margin-left: .25rem;
    font-size: var(--text-lg);
    align-items: center;
    display: inline-flex;
}

@media (width >=40rem) {
    #menu-title-page {
        font-size: var(--text-base);
    }

    #menu {

        ul {
            font-size: var(--text-base);
        }

        button {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    #home-bar {
        a {
            button {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        span {
            font-size: var(--text-base);
        }
    }
}

footer {
    justify-content: center;
    width: 100%;
    padding: 0.25rem;
    background-color: var(--primary-color);
    display: flex;
    margin: 0;
    margin-top: auto;

    color: var(--secondary-color);
    font-size: var(--text-xs);

    p {
        margin: 0;

        a {
            color: var(--secondary-color);
            text-decoration: underline;
        }
    }

    .license-sm,
    .license-lg,
    .license-xl {
        display: none;
    }

    @media (width >=48rem) {
        .license-sm {
            display: none;
        }

        .license-md {
            display: inline;
        }
    }

    @media (width >=64rem) {
        .license-md {
            display: none;
        }

        .license-lg {
            display: inline;
        }
    }

    @media (width >=80rem) {
        .license-lg {
            display: none;
        }

        .license-xl {
            display: inline;
        }
    }

}

main.home {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    font-size: var(--text-3xl);
    font-weight: var(--font-extralight);

    a {
        color: var(--font-color);
        text-decoration: none;
    }

    a:hover {
        font-weight: var(--font-bold);
    }
}

main.reading,
main.writing,
main.article,
main.fourohfour {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    max-width: 42rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

main.resume {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @media screen {
        max-width: 42rem;
    }

    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

main.fourohfour {
    h1 {
        margin-top: 4rem;
        ;
        font-size: var(--text-base);
        font-weight: var(--font-normal);
        text-align: center;
    }
}

main.reading {

    section#book-filter {
        position: relative;
        width: 70%;

        input {
            /* background transparent, border bottom only */
            background-color: transparent;
            color: var(--font-color);
            border: 0;
            border-bottom: 2px solid rgb(from var(--primary-color) r g b / 30%);
            font-weight: var(--font-extralight);
            font-size: var(--text-sm);
            padding-left: 0.5rem;
            width: 100%;
        }

        button {
            position: absolute;
            top: 0;
            right: 0.5rem;
            color: transparent;
            border: 0;
            color: transparent;
            background-color: rgb(from var(--font-color) r g b / 30%);
            width: 1rem;
            height: 1rem;
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z'%3E%3C/path%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z'%3E%3C/path%3E%3C/svg%3E");
        }

        input:not(:placeholder-shown) {
            border-bottom: 2px solid var(--primary-color);

            +button {
                background-color: var(--primary-color);
                cursor: pointer;
                -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
            }
        }

        input:focus {
            outline: none;
        }

    }

    section.present {
        margin-top: 4rem;
    }

    section.past {
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    section.book-list {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: var(--text-xl);
            font-weight: var(--font-normal);
            margin-bottom: 0rem;
            margin-left: 1rem;
        }

        ol.year-list {
            list-style: none;
            padding: 0;
            margin: 0;

            >li {
                border: 1px solid;
                border-image-source: linear-gradient(to right, rgb(from var(--primary-color) r g b / 30%), rgb(from var(--primary-color) r g b / 0%));
                border-image-slice: 1;
                border-width: 1px;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;

                margin-top: 1rem;

                >span {
                    font-size: var(--text-xs);
                }
            }

            >li:first-of-type {
                border-top: 0;
                margin-top: 0;

                >span {
                    display: none;
                }
            }

        }

        ol.book-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 3rem;
            margin-top: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            article {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                p {
                    margin: 0;

                    span.title {
                        font-weight: var(--font-bold);
                    }
                }

                p.translators,
                p.editors,
                p.book-dates {
                    font-size: var(--text-xs);

                    .name,
                    .date {
                        font-weight: var(--font-bold);
                    }
                }

                p.book-dates {
                    margin-left: 1rem;
                }

                ol.book-parts {
                    list-style: none;
                    padding: 0;
                    margin-left: 2rem;
                    font-size: var(--text-xs);
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    span.book,
                    span.date {
                        font-weight: var(--font-bold);
                    }
                }

                section.buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    margin-top: 0rem;
                    margin-left: 1rem;

                    a,
                    span {
                        color: var(--secondary-color);
                        background-color: var(--primary-color);
                        /* roudned corbers */
                        border-radius: 0.25rem;
                        border: 0;
                        font-size: var(--text-xs);
                        padding: 0.25rem 0.25rem;
                        text-decoration: none;
                    }
                }
            }
        }
    }

}

main.writing {
    >ol {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 1rem;

        >li {
            >h2 {
                font-size: var(--text-2xl);
                font-weight: var(--font-normal);
                margin-bottom: 0.3rem;
            }

            ol {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-left: 1rem;
                margin-bottom: 6rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    color: var(--font-color);

                    a {
                        color: var(--font-color);
                        text-decoration: none;
                    }

                    a:hover {
                        font-weight: var(--font-bold);

                        span.title,
                        span.date {
                            font-weight: var(--font-extrabold);
                        }
                    }

                    span.title,
                    span.date {
                        font-weight: var(--font-bold);

                    }

                    span.published-date {
                        font-size: var(--text-xs);
                        display: block;
                        margin-left: 1rem;
                        margin-top: 0.2rem;
                    }

                }
            }

        }
    }
}

article.book-entry.given-up {
    text-decoration: line-through;
}

main.article {

    margin-bottom: 8rem;
    max-width: 65ch;
    margin-inline: auto;

    header {
        text-align: center;
        margin-left: 0;

        h1,
        h2 {
            display: inline-block;
        }

        margin-bottom: 2rem;
        margin-top: -1rem;

        h1 {
            font-size: var(--text-3xl);
            font-weight: var(--font-bold);
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: var(--text-3xl);
            font-weight: var(--font-normal);
            margin-bottom: 0.5rem;
        }

        span.published-date {
            display: block;
            font-size: var(--text-lg);

            span.date {
                font-weight: var(--font-bold);
            }
        }
    }

    /* Box sizing rules */
    header~*,
    header~*::before,
    header~*::after {
        box-sizing: border-box;
    }

    header~* {
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        max-width: 65ch;
    }

    header~p {
        line-height: 1.75;
        hyphenate-limit-chars: 11;
        hyphens: auto;
        text-align: justify;
        text-wrap: pretty;
    }

    /* Remove default margin */
    header~h1,
    header~h2,
    header~h3,
    header~h4,
    header~p,
    header~figure,
    header~blockquote,
    header~dl,
    header~dd {
        margin: 0;
    }

    header~ul[role='list'],
    header~ol[role='list'],
    header~* ol[role='list'],
    header~* ul[role='list'] {
        list-style: none;
    }

    /* A elements that don't have a class get default styles */
    header~a:not([class]),
    header~* a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    header~img,
    header~picture,
    header~* img,
    header~* picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    header~input,
    header~button,
    header~textarea,
    header~select,
    header~* input,
    header~* button,
    header~* textarea,
    header~* select {
        font: inherit;
    }

    header~h1,
    header~h2,
    header~h3 {
        font-weight: var(--font-bold);
        line-height: 1.1;
    }

    header~h1 {
        max-width: 35ch;
    }

    header~h2,
    header~h3 {
        max-width: 40ch;
    }

    header~hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgb(from var(--font-color) r g b / 30%);
    }

    header~ul,
    header~ol,
    header~* ul,
    header~* ol {
        padding-inline-start: 1em;
    }

    header~blockquote,
    header~* blockquote {
        padding-inline-start: 1em;
        border-inline-start: 0.3em solid;
        padding-inline-start: 1em;
        border-inline-start: 0.3em solid;
        font-style: italic;
        font-size: var(--text-base);
        max-width: 50ch;
        line-height: 1.75;
        hyphenate-limit-chars: 11;
        hyphens: auto;
        text-align: justify;
        text-wrap: pretty;
    }

    header~h1 {
        font-size: var(--text-2xl);
    }

    header~h2 {
        font-size: var(--text-xl);
    }

    header~h3 {
        font-size: var(--text-lg);
    }

    header~* {
        margin-block-start: 1rem;
    }

    header~:is(h1, h2, h3, blockquote) {
        margin-block-start: 1.5rem;
    }

    header~:is(p) {
        margin-block-start: 1rem;
    }

    header~:is(h1, h2, h3)+* {
        margin-block-start: 0.5rem;
    }

    header~a,
    header~* a {
        color: var(--font-color);
        text-decoration-color: var(--font-color);
        text-decoration-thickness: 0.2ex;
        text-underline-offset: 0.3ex;
    }

    article.book-entry {

        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        p {
            margin: 0;

            span.title {
                font-weight: var(--font-bold);
            }
        }

        p.translators,
        p.editors,
        p.book-dates {
            font-size: var(--text-xs);

            .name,
            .date {
                font-weight: var(--font-bold);
            }
        }

        p.book-dates {
            margin-left: 1rem;
        }

        ol.book-parts {
            list-style: none;
            padding: 0;
            margin-left: 2rem;
            font-size: var(--text-xs);
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            span.book,
            span.date {
                font-weight: var(--font-bold);
            }
        }

        section.buttons {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            margin-top: 0rem;
            margin-left: 1rem;

            a,
            span {
                color: var(--secondary-color);
                background-color: var(--primary-color);
                /* roudned corbers */
                border-radius: 0.25rem;
                border: 0;
                font-size: var(--text-xs);
                padding: 0.25rem 0.25rem;
                text-decoration: none;
            }
        }
    }
}

main.resume {
    padding-left: 1rem;
    padding-right: 1rem;

    article {

        display: flex;
        flex-direction: column;

        header.download {
            width: 100%;
            margin-left: 0;
            margin-bottom: 2rem;
            text-align: center;

            a {
                color: rgb(from var(--font-color) r g b / 30%);
                text-decoration: none;
                display: inline-flex;
            }

            a:hover {
                color: var(--font-color);
            }

            a::after {
                display: inline-block;
                content: '';
                /* color: rgb(from var(--font-color) r g b / 30%); */
                -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4'%3E%3C/path%3E%3C/svg%3E");
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4'%3E%3C/path%3E%3C/svg%3E");
                width: 1.2rem;
                height: 1.2rem;
                background-color: rgb(from var(--font-color) r g b / 30%);
            }

            a:hover::after {
                background-color: var(--font-color);
            }
        }

        header.personal {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: start;

            h1 {
                font-size: var(--text-3xl);
                font-weight: var(--font-normal);
                /* grid-area: 1 / 1 / 2 / 3; */
                text-align: center;
                margin: auto;
                margin-bottom: 2rem;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, auto);
                grid-row-gap: 0.2rem;

                font-size: var(--text-sm);

                span {
                    width: fit-content;
                    /* justify-self: center; */
                }

                a {
                    color: var(--font-color);
                    text-decoration: none;
                    width: fit-content;
                    /* justify-self: center; */
                }

                a:hover {
                    text-decoration: underline;
                }

                .email::before {
                    content: "";
                    display: inline-block;
                    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207'%3E%3C/path%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207'%3E%3C/path%3E%3C/svg%3E");
                    background-size: 1rem 1rem;
                    mask-size: 0.8rem 0.8rem;
                    mask-position: bottom;
                    width: 1rem;
                    height: 1rem;
                    /* margin-left: -1rem; */
                    mask-position: bottom;
                    mask-repeat: no-repeat;
                    background-color: var(--primary-color);
                }

                .email::after {
                    content: attr(data-domain) '\0040' attr(data-username);
                    unicode-bidi: bidi-override;
                    direction: rtl;
                }

                .phone::before {
                    content: "";
                    display: inline-block;
                    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'%3E%3C/path%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'%3E%3C/path%3E%3C/svg%3E");
                    background-size: 1rem 1rem;
                    mask-size: 0.8rem 0.8rem;
                    mask-position: bottom;
                    width: 1rem;
                    height: 1rem;
                    /* margin-left: -1rem; */
                    mask-position: bottom;
                    mask-repeat: no-repeat;
                    background-color: var(--primary-color);
                }

                .phone:after {
                    content: attr(data-second) attr(data-first);
                    unicode-bidi: bidi-override;
                    direction: rtl;
                }

                .linkedin::before {
                    content: "";
                    display: inline-block;
                    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'%3E%3C/path%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'%3E%3C/path%3E%3C/svg%3E");
                    background-size: 1rem 1rem;
                    mask-size: 0.8rem 0.8rem;
                    mask-position: bottom;
                    width: 1rem;
                    height: 1rem;
                    /* margin-left: -1rem; */
                    mask-position: bottom;
                    mask-repeat: no-repeat;
                    background-color: var(--primary-color);
                }

                .github::before {
                    content: "";
                    display: inline-block;
                    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cpath d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'%3E%3C/path%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cpath d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'%3E%3C/path%3E%3C/svg%3E");
                    background-size: 1rem 1rem;
                    mask-size: 0.8rem 0.8rem;
                    mask-position: bottom;
                    width: 1rem;
                    height: 1rem;
                    /* margin-left: -1rem; */
                    mask-position: bottom;
                    mask-repeat: no-repeat;
                    background-color: var(--primary-color);
                }

            }
        }
    }
}

section.employment-history,
section.education,
section.certifications,
section.skills {
    margin-top: 2rem;
    display: flex;

    h2 {
        /* <div style="writing-mode: vertical-rl;" class="text-right transform rotate-180 text-xs uppercase h-fit">
							Employment&nbsp;History
						</div> */
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
        text-transform: uppercase;
        font-size: var(--text-xs);
        height: fit-content;
        margin: 0;
        font-weight: var(--font-normal);
        margin-right: 1rem;

    }
}

section.employment-history {
    p.comment {

        line-height: 1.5;

        a {
            color: var(--font-color);
            text-decoration: underline;
            font-weight: var(--font-bold);
        }

        /* a:hover {
            font-weight: var(--font-bold);
            strong {
                font-weight: var(--font-extrabold);
            }
        } */

    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        summary {
            list-style-type: none;
            /* Firefox */
        }

        summary::-webkit-details-marker {
            display: none;
            /* Chrome */
        }
    }

    >ul {

        >li {
            break-inside: avoid; /*Might need to remove this if there are big blocks of white */
            >details {
                >p.comment {
                    font-size: var(--text-sm);
                    margin-top: 0.5rem;
                    hyphenate-limit-chars: 11;
                    hyphens: auto;
                    text-align: justify;
                    text-wrap: pretty;
                    /* max-width: 80%; */
                }

                .comment strong {
                    font-weight: var(--font-bold);
                }

                >summary {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.2rem;

                    span.company {
                        font-weight: var(--font-bold);
                        font-size: var(--text-lg);
                        flex-grow: 1;
                    }

                    time {
                        font-size: var(--text-xs);

                        /* font-weight: var(--font-bold); */
                        /* color: var(--secondary-color); */
                        strong {
                            font-weight: var(--font-extrabold);
                        }
                    }
                }
            }
        }
    }

    ul.positions {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        li {
            margin-left: 1rem;

            p.comment {
                font-size: var(--text-sm);
                margin-top: 0.2rem;
                hyphenate-limit-chars: 11;
                hyphens: auto;
                text-align: justify;
                text-wrap: pretty;
                /* max-width: 80%; */

                strong {
                    font-weight: var(--font-bold);
                }
            }

            >summary {
                display: flex;
                flex-direction: column;
                row-gap: 0.2rem;
                margin-right: 1rem;

                span.position {
                    font-weight: var(--font-bold);
                    font-size: var(--text-lg);
                    flex-grow: 1;
                }

                time {
                    font-size: var(--text-xs);

                    /* font-weight: var(--font-bold); */
                    /* color: var(--secondary-color); */
                    strong {
                        font-weight: var(--font-extrabold);
                    }
                }
            }
        }
    }
}

section.education {
    summary {
        list-style-type: none;
        /* Firefox */
        display: flex;
        flex-direction: column;
        row-gap: 0.35rem;

        span {
            font-size: var(--text-base);
        }

        span.course {
            font-weight: var(--font-bold);
        }

        span.university {
            font-weight: var(--font-medium);
        }
    }

    summary::-webkit-details-marker {
        display: none;
        /* Chrome */
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 0.5rem;
        margin-left: 1rem;
        font-size: var(--text-sm);

        span.purpose {
            font-weight: var(--font-bold);
        }
    }

}

section.certifications {
    span.title {
        font-weight: var(--font-bold);
    }

    time {
        font-size: var(--text-xs);
    }

    summary {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
    }

    summary::-webkit-details-marker {
        display: none;
        /* Chrome */
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0rem;
        -webkit-column-count: 1;
        -webkit-column-gap: 0rem;
        column-count: 1;
        column-gap: 0rem;

        li {
            font-size: var(--text-sm);
            break-inside: avoid;
        }
    }

    ul>li:not(:last-child) {
        margin-bottom: 1.5rem;
    }

}

summary {
    pointer-events: none;
}

section.skills {
    break-inside: avoid;
    margin-bottom: 4rem;
    margin-top: 4rem;

    font-size: var(--text-sm);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    summary {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    summary::-webkit-details-marker {
        display: none;
        /* Chrome */
    }

    span.skill-group {
        font-weight: var(--font-bold);
    }

    >ul {
        -moz-column-count: 1;
        -moz-column-gap: 0rem;
        -webkit-column-count: 1;
        -webkit-column-gap: 0rem;
        column-count: 1;
        column-gap: 0rem;

        li {
            font-size: var(--text-sm);
        }
    }

    >ul>li:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    li.skill-item {
        font-weight: var(--font-medium);
        font-size: var(--text-sm);
        hyphens: none;
        text-align: justify;
        text-wrap: pretty;
    }

    ul.skills-list {
        list-style: none;
        font-size: 0;
        margin-top: 0.35rem;
    }

    ul.skills-list li {
        display: inline;
        line-height: 1.25;
    }

    ul.skills-list li span:after {
        content: ", ";
        font-weight: var(--font-normal);
        /* margin-left: -4px; */
    }


    ul.skills-list li:last-child span:after {
        content: "";
    }

    ul.skills-list li:nth-last-child(2) span:after {
        content: ", and ";
        font-weight: var(--font-normal);
        /* margin-left: -4px; */
    }

}

@media (width >=40rem) {

    /* sm */
    main.home {
        margin-top: 6rem;
        font-size: var(--text-4xl);
    }

    main.reading,
    main.writing,
    main.article,
    main.resume,
    main.fourohfour {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0rem;
        padding-right: 0rem;

    }

    @media print {
        main.resume {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    section#book-filter {
        width: 80%;
    }

    section.employment-history {
        >ul {
            >li>details {
                >summary {
                    flex-direction: row;
                }
            }
        }

        ul.positions {
            >li {
                >summary {
                    flex-direction: row;
                }
            }
        }

        p.comment {
            max-width: 80%;
        }

        @media print {
            p.comment {
                max-width: 90%;
            }
        }
    }

    section.certifications {
        ul {
            -moz-column-count: 2;
            -moz-column-gap: 1rem;
            -webkit-column-count: 2;
            -webkit-column-gap: 1rem;
            column-count: 2;
            column-gap: 1rem;
        }
    }

    section.skills {
        >ul {
            -moz-column-count: 2;
            -moz-column-gap: 1rem;
            -webkit-column-count: 2;
            -webkit-column-gap: 1rem;
            column-count: 2;
            column-gap: 1rem;
        }
    }

    main.resume {
        article {

            header.personal {
                align-items: center;

                ul {

                    width: fit;
                    font-size: var(--text-base);

                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    /* grid-column-gap: 1rem; */
                    grid-row-gap: 0.2rem;
                    column-gap: 2rem;
                    justify-content: center;
                    /* align-items: center; */
                    align-content: center;

                    span {

                        justify-self: center;
                    }

                    a {

                        justify-self: center;
                    }


                    li:has(> .email) {
                        /* first item */
                        order: 1;
                    }

                    li:has(> .phone) {
                        order: 3;
                    }

                    li:has(> .linkedin) {
                        order: 2;
                    }

                    li:has(> .github) {
                        order: 4;
                    }

                }
            }
        }
    }
}

@media (width >=64rem) {
    /* lg */

    section#book-filter {
        width: 70%;
    }
}